*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
ul{
    list-style: none
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background: url("../img/FsZIG1-akrfugdwkcSBNWTG07pj8.png")no-repeat top center;
}
.page1 img{
    width: 5rem;
    height: 8rem;
    position: absolute;
    top: 4rem;
    right: 0;
}
.page1 h2{
    font-size:1rem;
    color: rgb(165, 125, 185);
    margin-top: 2rem;
    margin-left: 1.7rem;
}
.page2 .tu1{
    width: 50%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}
.page2 .tu2{
    width: 50%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
}
.page2 p{
    font-size: 0.5rem;
    color: rgb(165, 125, 185);
}
.page2 .p1{
    margin-top: 2rem;
    margin-left: 2.8rem;
}
.page2 .p2{
    margin-top: 0.3rem;
    margin-left: 2.5rem;
}
.page2 .p3{
    margin-top: 0.3rem;
    margin-left: 1rem;
}
.page2 .p4{
    margin-top: 0.3rem;
    margin-left: 2.3rem;
}
.page2 .p5{
    margin-top: 0.3rem;
    margin-left: 1.8rem;
}

.page3 .main{
    padding: 0.5rem !important;
}
.page3 p{
    color: rgb(165, 125, 185);
    font-size: 0.5rem;
}
.page3 img{
    width: 60%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}
.page3 .xue{
    background: url("../img/FvtwqpGyOy5vaCj-lpxj67N_mp8b.png") no-repeat;
    font-size: 0.5rem;
    width: 2.2rem;
    height: 1rem;
    line-height: 0.8rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
    margin-left:2.5rem;

}
.page3_big{
    width: 95%;
    border: 0.01rem solid white;
    height: 0.5rem;
    margin-bottom: 0.3rem;
}
.page3_big:first-of-type div{
    width: 95%;
    height: 100%;
    background: green;
}
.page3_big:nth-of-type(2) div{
    width: 80%;
    height: 100%;
    background: green;
}
.page3_big:nth-of-type(3) div{
    width: 89%;
    height: 100%;
    background: green;
}
.page3_big:nth-of-type(4) div{
    width: 88%;
    height: 100%;
    background: green;
}
.page4 .tu1{
    width: 60%;
    height: 30%;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}
.page4 .tu2{
    width: 0.2rem;
    height: 80%;
    position: absolute;
    top:2rem;
    left: 2.9rem;
}
.page4 .xue{
    background: url("../img/FjbXkdMCF2kTXbp16Oc4cBifLc5H.png") no-repeat;
    font-size: 0.5rem;
    width: 4rem;
    height: 1rem;
    line-height: 0.8rem;
    padding-left: 0.2rem;
    margin-top: 1.5rem;
    margin-left:0.5rem;
}
.page4 .left{
    width: 2rem;
    height: 100%;
    position: absolute;
    top: 1.5rem;
    left: 0;
}
.page4 .left p{
    margin-top: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}
.page4 .left p a{
    font-size: 0.4rem;
    margin-left: 0.1rem;
}
.page4 .right{
    width: 4rem;
    height: 100%;
    position: absolute;
    top: 1.5rem;
    right: 0;
}
.page4 .right img:nth-child(1){
    width: 4rem;
    height: 3rem;
    margin-top: 1.5rem;
}
.page4 .right img:nth-child(2){
    width: 2rem;
    height: 4rem;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}
.page5 .tu1{
    width: 50%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}
.page5 .tu2{
    width: 50%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
}
.page5 h2{
    font-size: 1rem;
    position: absolute;
    top: 2.2rem;
    margin-left: 2rem;
    color: rgb(165, 125, 185);
}
.page5 .weixing{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 4rem;
    left: 1.5rem;
}
.page5 p{
    font-size: 0.6rem;
    position: absolute;
    top: 9rem;
    left: 1rem;
    color: rgb(165, 125, 185);
}
